<a href="https://colab.research.google.com/github/oni-ss/competition/blob/main/sejong/sejong_sion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# -*- coding: utf-8 -*-

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import folium

# 1. 전유부, 표제부

In [3]:
전유부 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/1.세종시_전유부.csv', encoding= 'CP949')
표제부 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/2.세종시_표제부.csv', encoding= 'CP949')

전유부.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   순번                      대지위치  시군구코드  법정동코드  ...      동명칭  호명칭  층구분코드명 층번호
0   1  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  주건축물제1동  616      지상   6
1   2  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  주건축물제1동  624      지상   6
2   3  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  주건축물제1동  523      지상   5
3   4  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  주건축물제1동  314      지상   3
4   5  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  주건축물제1동  101      지상   1

[5 rows x 16 columns]

In [4]:
표제부.head()

   순번                   대지위치  시군구코드  ...  세대수(세대)       사용승인일  Unnamed: 15
0   1  세종특별자치시  반곡동 146-75번지  36110  ...        0      1977.0          NaN
1   2  세종특별자치시  반곡동 146-79번지  36110  ...        0      1999.0          NaN
2   3  세종특별자치시  반곡동 146-79번지  36110  ...        0  20041223.0          NaN
3   4  세종특별자치시  반곡동 146-79번지  36110  ...        0  19950726.0          NaN
4   5   세종특별자치시  반곡동 180-1번지  36110  ...        0  20190228.0          NaN

[5 rows x 16 columns]

In [5]:
전유부.describe(include='all')

                 순번  ...           층번호
count   40000.00000  ...  40000.000000
unique          NaN  ...           NaN
top             NaN  ...           NaN
freq            NaN  ...           NaN
mean    20000.50000  ...      8.875425
std     11547.14972  ...      6.979328
min         1.00000  ...      1.000000
25%     10000.75000  ...      3.000000
50%     20000.50000  ...      7.000000
75%     30000.25000  ...     13.000000
max     40000.00000  ...     48.000000

[11 rows x 16 columns]

In [6]:
표제부.describe(include='all')

                  순번                     대지위치  ...         사용승인일  Unnamed: 15
count   36729.000000                    36729  ...  3.551700e+04          1.0
unique           NaN                    24484  ...           NaN          NaN
top              NaN  세종특별자치시  금남면 도남리 12-2번지  ...           NaN          NaN
freq             NaN                       70  ...           NaN          NaN
mean    18365.000000                      NaN  ...  1.574662e+07   20130823.0
std     10602.893355                      NaN  ...  8.227412e+06          NaN
min         1.000000                      NaN  ...  0.000000e+00   20130823.0
25%      9183.000000                      NaN  ...  1.980011e+07   20130823.0
50%     18365.000000                      NaN  ...  2.001091e+07   20130823.0
75%     27547.000000                      NaN  ...  2.014021e+07   20130823.0
max     36729.000000                      NaN  ...  2.020113e+07   20130823.0

[11 rows x 16 columns]

## 변수 삭제

'번' + '지' = '대지위치' 이므로 변수 '번', '지' 삭제

In [7]:
전유부 = 전유부.drop(['번','지'], axis=1)
표제부 = 표제부.drop(['번','지'], axis=1)

동명칭, 호명칭, 층번호 삭제 - 임의 삭제. 시각화된 이유X

In [8]:
전유부 = 전유부.drop(['동명칭','호명칭','층번호'], axis=1)
표제부 = 표제부.drop('동명칭', axis=1)

In [9]:
전유부.isnull().sum()

순번             0
대지위치           0
시군구코드          0
법정동코드          0
대지구분코드         0
대장구분코드명        0
건물명           76
특수지명       15033
블록         15212
로트         38935
층구분코드명         0
dtype: int64

In [10]:
표제부.isnull().sum()

순번                 0
대지위치               0
시군구코드              0
법정동코드              0
대지구분코드             0
대장구분코드명            0
건물명            29403
연면적(㎡)             0
구조코드명              9
주용도코드명            12
세대수(세대)            0
사용승인일           1212
Unnamed: 15    36728
dtype: int64

전유부의 '로트' 변수와 표제부의 'Unnamed: 15' 변수는 거의 대부분이 결측이므로 변수 삭제

In [11]:
전유부 = 전유부.drop('로트', axis=1)
표제부 = 표제부.drop('Unnamed: 15', axis=1)

In [12]:
전유부.head()

   순번                      대지위치  시군구코드  법정동코드  ...    건물명 특수지명   블록 층구분코드명
0   1  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  세종펠리스  NaN  NaN     지상
1   2  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  세종펠리스  NaN  NaN     지상
2   3  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  세종펠리스  NaN  NaN     지상
3   4  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  세종펠리스  NaN  NaN     지상
4   5  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  세종펠리스  NaN  NaN     지상

[5 rows x 10 columns]

In [13]:
표제부.head()

   순번                   대지위치  시군구코드  ...    주용도코드명  세대수(세대)       사용승인일
0   1  세종특별자치시  반곡동 146-75번지  36110  ...      단독주택        0      1977.0
1   2  세종특별자치시  반곡동 146-79번지  36110  ...  동.식물관련시설        0      1999.0
2   3  세종특별자치시  반곡동 146-79번지  36110  ...  동.식물관련시설        0  20041223.0
3   4  세종특별자치시  반곡동 146-79번지  36110  ...      창고시설        0  19950726.0
4   5   세종특별자치시  반곡동 180-1번지  36110  ...    교육연구시설        0  20190228.0

[5 rows x 12 columns]

## 변수 형식 변경

In [14]:
표제부['사용승인일'].describe()

count    3.551700e+04
mean     1.574662e+07
std      8.227412e+06
min      0.000000e+00
25%      1.980011e+07
50%      2.001091e+07
75%      2.014021e+07
max      2.020113e+07
Name: 사용승인일, dtype: float64