<a href="https://colab.research.google.com/github/oni-ss/competition/blob/main/sejong/sejong_sion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# -*- coding: utf-8 -*-

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
import folium

# 데이터 전처리

## 1. 전유부, 표제부

In [3]:
전유부 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/1.세종시_전유부.csv', encoding= 'CP949')
표제부 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/2.세종시_표제부.csv', encoding= 'CP949')

전유부.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   순번                      대지위치  시군구코드  법정동코드  ...      동명칭  호명칭  층구분코드명 층번호
0   1  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  주건축물제1동  616      지상   6
1   2  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  주건축물제1동  624      지상   6
2   3  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  주건축물제1동  523      지상   5
3   4  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  주건축물제1동  314      지상   3
4   5  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  주건축물제1동  101      지상   1

[5 rows x 16 columns]

In [4]:
표제부.head()

   순번                   대지위치  시군구코드  ...  세대수(세대)       사용승인일  Unnamed: 15
0   1  세종특별자치시  반곡동 146-75번지  36110  ...        0      1977.0          NaN
1   2  세종특별자치시  반곡동 146-79번지  36110  ...        0      1999.0          NaN
2   3  세종특별자치시  반곡동 146-79번지  36110  ...        0  20041223.0          NaN
3   4  세종특별자치시  반곡동 146-79번지  36110  ...        0  19950726.0          NaN
4   5   세종특별자치시  반곡동 180-1번지  36110  ...        0  20190228.0          NaN

[5 rows x 16 columns]

In [5]:
전유부.describe(include='all')

                 순번  ...           층번호
count   40000.00000  ...  40000.000000
unique          NaN  ...           NaN
top             NaN  ...           NaN
freq            NaN  ...           NaN
mean    20000.50000  ...      8.875425
std     11547.14972  ...      6.979328
min         1.00000  ...      1.000000
25%     10000.75000  ...      3.000000
50%     20000.50000  ...      7.000000
75%     30000.25000  ...     13.000000
max     40000.00000  ...     48.000000

[11 rows x 16 columns]

In [6]:
표제부.describe(include='all')

                  순번                     대지위치  ...         사용승인일  Unnamed: 15
count   36729.000000                    36729  ...  3.551700e+04          1.0
unique           NaN                    24484  ...           NaN          NaN
top              NaN  세종특별자치시  금남면 도남리 12-2번지  ...           NaN          NaN
freq             NaN                       70  ...           NaN          NaN
mean    18365.000000                      NaN  ...  1.574662e+07   20130823.0
std     10602.893355                      NaN  ...  8.227412e+06          NaN
min         1.000000                      NaN  ...  0.000000e+00   20130823.0
25%      9183.000000                      NaN  ...  1.980011e+07   20130823.0
50%     18365.000000                      NaN  ...  2.001091e+07   20130823.0
75%     27547.000000                      NaN  ...  2.014021e+07   20130823.0
max     36729.000000                      NaN  ...  2.020113e+07   20130823.0

[11 rows x 16 columns]

### 변수 삭제

'번' + '지' = '대지위치' 이므로 변수 '번', '지' 삭제

In [7]:
전유부 = 전유부.drop(['번','지'], axis=1)
표제부 = 표제부.drop(['번','지'], axis=1)

동명칭, 호명칭, 층번호 삭제 - 임의 삭제. 시각화된 이유X

In [8]:
전유부 = 전유부.drop(['동명칭','호명칭','층번호'], axis=1)
표제부 = 표제부.drop('동명칭', axis=1)

In [9]:
전유부.isnull().sum()

순번             0
대지위치           0
시군구코드          0
법정동코드          0
대지구분코드         0
대장구분코드명        0
건물명           76
특수지명       15033
블록         15212
로트         38935
층구분코드명         0
dtype: int64

In [10]:
표제부.isnull().sum()

순번                 0
대지위치               0
시군구코드              0
법정동코드              0
대지구분코드             0
대장구분코드명            0
건물명            29403
연면적(㎡)             0
구조코드명              9
주용도코드명            12
세대수(세대)            0
사용승인일           1212
Unnamed: 15    36728
dtype: int64

전유부의 '로트' 변수와 표제부의 'Unnamed: 15' 변수는 거의 대부분이 결측이므로 변수 삭제

In [11]:
전유부 = 전유부.drop('로트', axis=1)
표제부 = 표제부.drop('Unnamed: 15', axis=1)

In [12]:
전유부.head()

   순번                      대지위치  시군구코드  법정동코드  ...    건물명 특수지명   블록 층구분코드명
0   1  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  세종펠리스  NaN  NaN     지상
1   2  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  세종펠리스  NaN  NaN     지상
2   3  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  세종펠리스  NaN  NaN     지상
3   4  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  세종펠리스  NaN  NaN     지상
4   5  세종특별자치시  반곡동 4121-1002번지  36110  10100  ...  세종펠리스  NaN  NaN     지상

[5 rows x 10 columns]

In [13]:
표제부.head()

   순번                   대지위치  시군구코드  ...    주용도코드명  세대수(세대)       사용승인일
0   1  세종특별자치시  반곡동 146-75번지  36110  ...      단독주택        0      1977.0
1   2  세종특별자치시  반곡동 146-79번지  36110  ...  동.식물관련시설        0      1999.0
2   3  세종특별자치시  반곡동 146-79번지  36110  ...  동.식물관련시설        0  20041223.0
3   4  세종특별자치시  반곡동 146-79번지  36110  ...      창고시설        0  19950726.0
4   5   세종특별자치시  반곡동 180-1번지  36110  ...    교육연구시설        0  20190228.0

[5 rows x 12 columns]

## 매매 및 전월세 실거래가

In [76]:
아파트_매매 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/3.세종시_아파트(매매)_실거래가.csv', encoding= 'CP949')
연립다세대_매매 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/4.세종시_연립다세대(매매)_실거래가.csv', encoding='CP949')
단독다가구_매매 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/5.세종시_단독다가구(매매)_실거래가.csv', encoding='CP949')
오피스텔_매매 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/6.세종시_오피스텔(매매)_실거래가.csv', encoding='CP949')
아파트_전월세 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/7.세종시_아파트(전월세)_실거래가.csv', encoding='CP949')
연립다세대_전월세 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/8.세종시_연립다세대(전월세)_실거래가.csv', encoding='CP949')
단독다가구_전월세 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/9.세종시_단독다가구(전월세)_실거래가.csv', encoding='CP949')
오피스텔_전월세 = pd.read_csv('/content/drive/Shareddrives/세종시_프로젝트/data/10.세종시_오피스텔(전월세)_실거래가.csv', encoding='CP949')

In [77]:
print(list(아파트_매매.columns))
print(list(연립다세대_매매.columns))
print(list(단독다가구_매매.columns))
print(list(오피스텔_매매.columns))
print(list(아파트_전월세.columns))
print(list(연립다세대_전월세.columns))
print(list(단독다가구_전월세.columns))
print(list(오피스텔_전월세.columns))

['계약년월', '계약일', '시군구', '본번', '부번', '단지명', '전용면적(㎡)', '거래금액(만원)', '층', '건축년도']
['계약년월', '계약일', '시군구', '본번', '부번', '건물명', '전용면적(㎡)', '대지권면적(㎡)', '거래금액(만원)', '층', '건축년도']
['계약년월', '계약일', '시군구', '주택유형', '도로조건', '연면적(㎡)', '대지면적(㎡)', '거래금액(만원)', '건축년도']
['계약년월', '계약일', '시군구', '본번', '부번', '단지명', '전용면적(㎡)', '거래금액(만원)', '층', '건축년도']
['계약년월', '계약일', '시군구', '본번', '부번', '단지명', '전월세구분', '전용면적(㎡)', '보증금(만원)', '월세(만원)', '층', '건축년도']
['계약년월', '계약일', '시군구', '본번', '부번', '건물명', '전월세구분', '전용면적(㎡)', '보증금(만원)', '월세(만원)', '층', '건축년도']
['계약년월', '계약일', '시군구', '도로조건', '계약면적(㎡)', '전월세구분', '보증금(만원)', '월세(만원)', '건축년도']
['계약년월', '계약일', '시군구', '본번', '부번', '단지명', '전월세구분', '전용면적(㎡)', '보증금(만원)', '월세(만원)', '층', '건축년도']

매매 데이터의 공통 변수인 '계약년월','계약일','시군구','거래금액','건축년도'를 유지한다. 단독다가구의 경우, '대지면적'을 다른 변수의 '전용면적'으로 한다. 
- 연면적, 대지면적의 계산이나 둘 중 무엇을 다른 변수의 전용면적으로 해야할지 고민해봤는데 모르겠어서 임의로 설정했습니다.
- 또한 층 계산도 용적률과 건폐율이 함께 필요한 것 같아 층 변수를 임의로 삭제했습니다.
- 이외의 본번, 부번 등 변수는 중요하지 않아보여서.. 임의로 삭제했고, 층은 단독다가구의 경우 계산이 불가능해 삭제했습니다.

In [78]:
아파트_매매 = 아파트_매매.drop(['본번','부번','층'], axis=1)
연립다세대_매매 = 연립다세대_매매.drop(['본번','부번','대지권면적(㎡)','층'], axis=1)
단독다가구_매매 = 단독다가구_매매.drop(['주택유형','도로조건','연면적(㎡)'], axis=1)
오피스텔_매매 = 오피스텔_매매.drop(['본번','부번','층'], axis=1)

In [79]:
print(list(아파트_매매.columns))
print(list(연립다세대_매매.columns))
print(list(단독다가구_매매.columns))
print(list(오피스텔_매매.columns))

['계약년월', '계약일', '시군구', '단지명', '전용면적(㎡)', '거래금액(만원)', '건축년도']
['계약년월', '계약일', '시군구', '건물명', '전용면적(㎡)', '거래금액(만원)', '건축년도']
['계약년월', '계약일', '시군구', '대지면적(㎡)', '거래금액(만원)', '건축년도']
['계약년월', '계약일', '시군구', '단지명', '전용면적(㎡)', '거래금액(만원)', '건축년도']

'계약년월'과 '계약일'을 합쳐 '계약날짜' 변수를 생성한다.

In [80]:
아파트_매매.describe()

                계약년월           계약일       전용면적(㎡)       거래금액(만원)          건축년도
count   21140.000000  21140.000000  21140.000000   21140.000000  21140.000000
mean   201880.225402     15.359508     78.853422   36459.012252   2012.059697
std       114.380451      8.767405     22.279039   19863.684392      6.339873
min    201701.000000      1.000000     12.179900    1800.000000   1980.000000
25%    201802.000000      8.000000     59.972000   24500.000000   2012.000000
50%    201910.000000     15.000000     84.857000   33950.000000   2014.000000
75%    202002.000000     23.000000     84.990000   46700.000000   2015.000000
max    202010.000000     31.000000    209.185200  157000.000000   2020.000000

In [81]:
연립다세대_매매.describe()

                계약년월         계약일     전용면적(㎡)         건축년도
count     529.000000  529.000000  529.000000   529.000000
mean   201851.559546   14.551985   43.807704  2001.858223
std       127.091431    8.554285   21.241627    12.421295
min    201701.000000    1.000000   12.828000  1982.000000
25%    201708.000000    8.000000   21.634900  1991.000000
50%    201811.000000   14.000000   48.600000  1996.000000
75%    202005.000000   20.000000   59.490000  2015.000000
max    202010.000000   31.000000  106.030000  2020.000000

In [82]:
단독다가구_매매.describe()

                계약년월         계약일      대지면적(㎡)       거래금액(만원)         건축년도
count     997.000000  997.000000   997.000000     997.000000   993.000000
mean   201844.976931   15.790371   419.502979   37645.601805  1991.260826
std       116.113565    8.916344   289.668247   32757.717762    23.301829
min    201701.000000    1.000000    45.000000     800.000000  1900.000000
25%    201710.000000    8.000000   225.000000   15000.000000  1980.000000
50%    201810.000000   16.000000   357.000000   26500.000000  1996.000000
75%    201912.000000   24.000000   532.000000   50500.000000  2011.000000
max    202010.000000   31.000000  2820.000000  350000.000000  2020.000000

In [83]:
오피스텔_매매.describe()

                계약년월         계약일     전용면적(㎡)      거래금액(만원)         건축년도
count     268.000000  268.000000  268.000000    268.000000   268.000000
mean   201906.231343   15.764925   25.819254   9337.488806  2013.992537
std       117.725664    8.986505    6.668030   2228.713899     0.457910
min    201701.000000    1.000000   21.220000   4500.000000  2013.000000
25%    201807.000000    8.000000   22.420000   7922.500000  2014.000000
50%    202001.000000   16.000000   23.740000   8500.000000  2014.000000
75%    202007.000000   24.000000   25.627500  10000.000000  2014.000000
max    202010.000000   31.000000   83.010000  19000.000000  2019.000000

이상치가 없으니 그대로 진행한다.

In [84]:
def create_계약날짜(data):
    data['계약년월'] = data['계약년월'].astype(str)
    data['계약일'] = data['계약일'].astype('int64').apply(lambda x: "{:0>2d}".format(x))
    data['계약날짜'] = data[['계약년월','계약일']].apply(lambda x: ''.join(x), axis=1)

    data = data.drop(['계약년월','계약일'], axis=1)
    return data

아파트_매매 = create_계약날짜(아파트_매매)
연립다세대_매매 = create_계약날짜(연립다세대_매매)
단독다가구_매매 = create_계약날짜(단독다가구_매매)
오피스텔_매매 = create_계약날짜(오피스텔_매매)

In [91]:
아파트_매매.head()

           시군구                단지명  전용면적(㎡)  거래금액(만원)  건축년도      계약날짜
0  세종특별자치시 보람동       스타힐타워Ⅰ(C2-3)  16.9849      8600  2016  20170101
1  세종특별자치시 종촌동  가재마을2단지(호반베르디움3차)  59.8652     27300  2014  20170101
2  세종특별자치시 고운동    가락마을15단지(중흥파크뷰)  84.9894     32000  2015  20170102
3  세종특별자치시 고운동    가락마을8단지(고운뜰아파트)  84.9800     30500  2015  20170102
4  세종특별자치시 아름동    범지기마을7단지 호반에코시티  84.9280     31300  2014  20170102

'시군구'와 '단지명'/'건물명'을 합쳐 '건물위치' 변수를 생성한다.

In [92]:
단독다가구_매매.head()

                시군구  대지면적(㎡)  거래금액(만원)    건축년도      계약날짜
0   세종특별자치시 전의면 다방리    294.0      2000  1991.0  20170102
1  세종특별자치시 조치원읍 서창리    415.0     54500  1997.0  20170104
2  세종특별자치시 조치원읍 죽림리    175.0     16000  1983.0  20170104
3   세종특별자치시 금남면 용담리    537.0     26000  1977.0  20170106
4  세종특별자치시 조치원읍 서창리    222.7     53700  2011.0  20170106

In [93]:
def create_건물위치(data, building):
    data['건물위치'] = data[['시군구',building]].apply(lambda x: ' '.join(x), axis=1)

    data = data.drop(['시군구',building], axis=1)
    return data

아파트_매매 = create_건물위치(아파트_매매, '단지명')
연립다세대_매매 = create_건물위치(연립다세대_매매, '건물명')
오피스텔_매매 = create_건물위치(오피스텔_매매, '단지명')
단독다가구_매매 = 단독다가구_매매.rename(columns={'시군구':'건물위치'})

In [96]:
아파트_매매.head(2)

   전용면적(㎡)  거래금액(만원)  건축년도      계약날짜                           건물위치
0  16.9849      8600  2016  20170101       세종특별자치시 보람동 스타힐타워Ⅰ(C2-3)
1  59.8652     27300  2014  20170101  세종특별자치시 종촌동 가재마을2단지(호반베르디움3차)

In [97]:
연립다세대_매매.head(2)

   전용면적(㎡) 거래금액(만원)  건축년도      계약날짜                   건물위치
0    62.08    4,700  1983  20170103   세종특별자치시 조치원읍 원리 고려1동
1    64.23    6,500  1991  20170113  세종특별자치시 조치원읍 침산리 용성빌라

In [98]:
오피스텔_매매.head(2)

   전용면적(㎡)  거래금액(만원)  건축년도      계약날짜                건물위치
0    23.74      9000  2014  20170104  세종특별자치시 어진동 푸르지오시티
1    23.74      9500  2014  20170106  세종특별자치시 어진동 푸르지오시티

In [101]:
단독다가구_매매 = 단독다가구_매매.rename(columns={'대지면적(㎡)':'전용면적(㎡)'})
단독다가구_매매.head(2)

               건물위치  전용면적(㎡)  거래금액(만원)    건축년도      계약날짜
0   세종특별자치시 전의면 다방리    294.0      2000  1991.0  20170102
1  세종특별자치시 조치원읍 서창리    415.0     54500  1997.0  20170104